body,
html {
    height: 90%;
    padding: 0;
    margin: 0;
}

main {
    background: url("img/fondo1.jpg");
    background-size: 100%;
    background-position: center center 10px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100%;
    color: #fff;
}

img {
    width: 300px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-self: center center;
}

h3 {
    padding-top: 2%;
    margin-bottom: 2%;
    font-size: 1rem;
    color: black;
}

h5 {
    font-family: serif;
    font-size: 10px;
}

.address {
    color: white;
}

p {
    text-align: center;
}

.seccion1 {
    background-color: rgb(247, 232, 232);
    /* background-size: 50% */
}

footer {
    background-color: rgb(196, 194, 194);
    padding-top: center;
    text-align: center;
}